.about{
     width: 50%;
     padding-left: 60px;
     
}
.sec1{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.sec2{
    display: flex;
    margin-top: 50px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 40px;
}
#name{
    color: gold;
}
p{
    font-size: 18px;
    text-align: justify;
}
.link-see-more{
    color: aliceblue;
    text-decoration: none;
    background-color: coral;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(orange,tomato);
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.about img{
    width: 70%;
}
.exp{
    display: flex;
}